.btonesMenu{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.contenidoRow{
    left:15px;
}
.margenes{
    margin-top: 15px;
    margin-bottom: 15px;
}
.margenizquierdo{
    margin-left: -50px;
}
.w-1500{
    width: 1400px;
}

